.editStyle {
    background: rgba(251, 228, 190, 0.4);
}

.noteWidth {
    width: 80%;
}

.addCursor {
    cursor: pointer;
}

.goBackStyle {
    background-color: rgb(241, 155, 50);
    border-color: rgb(241, 155, 50);
    color: white;
    border: none;
    border-radius: .25rem;
    padding: .375rem .75rem;
    transition: ease-in-out background-color 0.15s;
    margin-bottom: 10px !important;
}

.deleteIconStyle {
    height: 20px;
    width: 20px;
    margin: 6px 0 6px 0;
    transition: all 0.4s;
}

.deleteIconStyle:hover {
    height: 26px;
    width: 26px;
    cursor: pointer;
}

.goBackStyle:hover {
    background-color: rgb(192, 122, 37);
}

.addNoteStyle {
    margin-top: 8px;
    width: 40% !important;
}

.marginButton {
    margin: 2px;
    margin: 2px;
}

.EditItemStyle {
    font-weight: bold;
    color: rgb(5, 71, 133);
    width: 60%;
    text-align: center;
    border: 1px solid rgb(5, 71, 133);
    border-radius: 4px;
}

.helpTip {
    text-align: center;
    background-color: #BCDBEA;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    cursor: default;
    padding-bottom: 2px !important;
}

.nameEditStyle {
    margin: 8px;
}

.disablePadding {
    padding: 0 !important;
}

.editBorderStyleTop {
    border-radius: 10px 10px 0 0;
}

.editBorderStyleBottom {
    border-radius: 0 0 10px 10px !important;
}

.paddItems {
    padding: 10px 0 10px 0;
}

.margindeleteIcon {
    margin: 15px !important;
}

.marginBottomStyle {
    margin-bottom: 10px !important;
}