.editStyle {
    background: rgba(251, 228, 190, 0.4);
}

.noteWidth {
    width: 80%;
}

.addCursor {
    cursor: pointer;
}

.addNoteStyle {
    margin-top: 8px;
}

.EditItemStyle {
    font-weight: bold;
    color: rgb(5, 71, 133);
}

.disablePadding {
    padding: 0 !important;
}

.editBorderStyleTop {
    border-radius: 10px 10px 0 0;
}

.editBorderStyleBottom {
    border-radius: 0 0 10px 10px !important;
}

.paddItems {
    padding: 10px 0 10px 0;
}

.marginBottomStyle {
    margin-bottom: 10px !important;
}