.headerStyle {
    font-weight: bold;
    font-size: 22px;
    color: white;
}

.newNoteStyle {
    margin-bottom: 20px;
}

.noNotesStyle {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.messageStyle {
    padding: 6px;
}

.noteNameStyle {
    font-weight: bold;
    font-size: 18px;
    cursor: default;
    color: white;
}

.autoBr {
    word-break: break-all;
}

.nameStyle {
    background: rgba(251, 228, 190, 0.4);
    width: 300px;
}

.itemStyle {
    padding: 4px !important;
    border: 1.6px solid rgba(0, 0, 0, .125) !important;
}

.listStyle {
    padding: 10px 0 10px 0;

}

.activeStyle {
    color: white;
    background-color: #428bca !important;
}

.notActiveStyle {
    background-color: white !important;
}

.LinkStyle {
    color: rgb(5, 71, 133);
    font-weight: bold;
    text-decoration: none !important;
}

.deleteNote {
    height: 30px;
    width: 30px;
    margin: 2px 0 2px 0;
    transition: all 0.4s;
}

.deleteNote:hover {
    height: 38px;
    width: 38px;
    cursor: pointer;
}

.undoStyle {
    height: 24px;
    width: 24px;
    margin: 6px 0 6px 0;
    transition: all 0.4s;
}

.undoStyle:hover {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.borderStyleTop {
    border-radius: 10px 10px 0 0;
}

.borderStyleBottom {
    border-radius: 0 0 10px 10px;
    padding-bottom: 4px;
}

.dateStyle {
    height: 28px;
}

.shiftText {
    margin-left: 10px;
}

.itemsAreaStyle {
    width: 300px;
    background: #b6f5fa;
}

.paddingNotes {
    padding-bottom: 20px !important;
    border-radius: 40px !important;
}