.headerStyle {
    font-weight: bold;
    font-size: 22px;
    color: white;
    margin: 20px;
}

.autoBr {
    word-break: break-all;
}

.nameStyle {
    background: rgba(251, 228, 190, 0.4);
    width: 270px;
}

.borderStyleTop {
    border-radius: 10px 10px 0 0;
}

.borderStyleBottom {
    border-radius: 0 0 10px 10px;
}

.shiftText{
   margin-left: 10px;
}

.itemsAreaStyle {
    width: 270px;
    background: rgb(251, 228, 190);
}

.paddingNotes {
    padding-bottom: 20px !important;
    border-radius: 40px !important;
}